Flask
Pillow
VortexGPT
telebot
Botte==0.6.2
google-generativeai
requests
speechrecognition
gunicorn
pyTelegramBotAPI
aiohttp
BeautifulSoup4
python-decouple
gtts
openai==1.2.0
pymongo
telegram
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
googleapis-common-protos==1.62.0
replicate
python-telegram-bot
